<body>
<div class="row">
  <div class="col-md-6">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Unit saved.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>
    <div class="alert alert-success" id="delsuccess-alert"  aria-live="rude" role="alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			{% trans %}Unit deleted successfully.{% endtrans %}
		</div>
    <div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Unit Already Exist!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="subunit-alert"  aria-live="rude" role="alert" hidden>

      <label for="vno">{% trans %}Unit can not be deleted , contains Subunit!{% endtrans %}</label>
    </div>
    <div class="alert alert-danger" id="unit-blank-alert"  aria-live="rude" role="alert" hidden>

      <label for="vno">{% trans %}Please enter Unit  name!{% endtrans %}</label>
    </div>

    <div class="panel shadow unit_edit_panel">

      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="unit_edit_list" id="edit_list">{% trans %}Unit :{% endtrans %}</label>
            <select class="form-control input-sm" id="unit_edit_list">
              <option value="" disabled selected hidden>{% trans %}Select unit{% endtrans %}</option>
              {% for unitofmeasurement in gkresult %}
              <option value="{{unitofmeasurement['uomid']}}">{{unitofmeasurement["unitname"]}}</option>
              {% endfor %}
            </select>
          </div>
          <div id="unit_edit_innerdiv" style="padding-left:10px;padding-right:10px;" hidden>
          <div class="form-group">
            <label for="unit_edit_name">{% trans %}Name :{% endtrans %}</label>
            <input class="form-control input-sm" id="unit_edit_name" placeholder="{% trans %}Enter unit name{% endtrans %}">
          </div>
          <div class="form-group">
            <label for="sub_unit_edit">{% trans %}Sub Unit Of :{% endtrans %}</label>
            <select class="form-control input-sm" id="sub_unit_edit">
              <option value="" selected>None</option>
              {% for unitofmeasurement in gkresult %}
              <option value="{{unitofmeasurement['uomid']}}">{{unitofmeasurement["unitname"]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group" id="edit_conversion_div">
            <label for="unit_edit_conversion_rate">{% trans %}Conversion Rate:{% endtrans %}</label>
            <div >
              <input class="form-control input-sm text-right"  id="unit_edit_conversion_rate" aria-describedby="conversion_rate_help" placeholder="Enter conversion rate">
          </div>
        </form>
      </div>
    </div>
  </div>
      <div class="panel-footer" id="unit_btn"  disabled hidden>
        <button id="unit_reset" class="btn btn-warning btn-sm">{% trans %}Reset{% endtrans %}</button>
        <button class="btn btn-primary btn-sm" id="unit_edit_save" data-toggle="tooltip" data-placement="top" title="{% trans %}Press Insert to save anywhere on the current screen to save{% endtrans %}">{% trans %}Save{% endtrans %}</button>
        <button id="unit_delete" class="btn btn-danger btn-sm">{% trans %}Delete{% endtrans %}</button>
        <button id="edit_btn" class="btn btn-primary btn-sm">{% trans %}Edit{% endtrans %}</button>
      </div>
    </div>
    <div id="confirm_del" class="modal fade" tabindex="-1" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">{% trans %}Delete?{% endtrans %}</h4>
            </div>
            <div class="modal-body">
              <p>{% trans %}Are you sure?{% endtrans %}</p>
            </div>
            <div class="modal-footer">
              <button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
              <button type="button" id="accdel" data-dismiss="modal" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </div><!-- /.modal -->

    </div>
  </div>


  </div>
</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editunitofmeasurement.js')}}"></script>
</body>
